body {
  width: 95vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blueviolet;
}

div {
  width: 100px;
  height: 100px;
  background-color: red;
}
